.blue-nav .navbar-nav{
    display: inline-block;
}
.blue-nav .nav-link{
    display: inline-block;
}
.custom-header{
    border: 44px solid transparent;
    border-image: url(../../images/artwork/design.svg) 50 stretch;
}
.bg-fruts{
    background-image: url(../../images/artwork/bg.png);  
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-header{
    background-image: url(../../images/artwork/slide.png);  
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-position: top;
}

@media (max-width: 1024px){
    .custom-header h1:nth-child(3){
       right: 5.5rem !important;
    }
}
@media (max-width: 768px){
    .custom-header h1:nth-child(3){
       right: 1.5rem !important;
    }

}
